@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "League Spartan", sans-serif;
    /* Primary */
    --color-primary: #7c5dfa;
    --color-primary-light: #9277ff;

    /* Dark mode backgrounds */
    --color-dark-900: #0c0e16;
    --color-dark-800: #141625;
    --color-dark-700: #1e2139;
    --color-dark-600: #252945;
    --color-dark-500: #373b53;
    --color-dark-400: #494e6e;

    /* Light mode backgrounds */
    --color-light-bg: #f8f8fb;
    --color-light-card: #dfe3fa;

    /* Text colors */
    --color-text-primary: #0c0e16;
    --color-text-secondary: #888eb0;
    --color-text-muted: #7e88c3;

    /* Status colors */
    --color-danger: #ec5757;
    --color-danger-light: #ff9797;
}
